<!DOCTYPE html>
<html lang="en" data-th-replace="~{user/user-fragment::userTemplate(~{::#body},~{::title},~{})}">

<head>
  <title>Dashboard</title>
</head>

<body>

  <div id="body">
    <!-- user-navbar -->
    <nav data-th-replace="~{user/user-navbar::user-navbar-fragment}"></nav>

    <!-- user-sidebar -->
    <aside data-th-replace="~{user/user-sidebar::user-sidebar-fragment}"></aside>

    <!-- user-main section -->
    <div data-th-replace="~{user/user-main::user-main-fragment}"></div>


  </div>
</body>

</html>