<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is user dashboard</h1>
    <a data-th-href="@{/self-logout}">Logout</a>
    <a data-th-href="@{/}">Home</a>
    <a data-th-href="@{/user/profile}">Profile</a>
    <p data-th-text="${authorizedUser.smartUserName}"></p>
    <p data-th-text="${authorizedUser.userMail}"></p>
    <p data-th-text="${authorizedUser.userId}"></p>
    <p data-th-text="${authorizedUser.phoneNumber}"></p>
    
</body>
</html>