<!DOCTYPE html>
<html lang="en" data-th-replace="~{fragment/basetemplate::baseTemplate(~{::#body},~{::title},~{})}">
<head>
    <title>About us</title>
</head>
<body>
    <div id="body">
        <h3>This is about us page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio doloremque molestiae modi fugiat sequi rem, nam quia beatae excepturi nemo quisquam nisi aliquam? Magni veritatis quasi, voluptate provident accusantium pariatur!</p>
        <hr>
    </div>
</body>
</html>