<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div data-th-replace="~{common/header::header(var1=${sitename}, var2=${creationdate}, content=~{::#mytable})}">
        <table border="1" width="100%" id="mytable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>class</th>
                    <th>sub</th>
                    <th>rollno</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>deep</td>
                    <td>deep</td>
                    <td>deep</td>
                    <td>deep</td>
                </tr>
                
                <tr>
                    <td>deep</td>
                    <td>deep</td>
                    <td>deep</td>
                    <td>deep</td>
                </tr>
                <tr>
                    <td>deep</td>
                    <td>deep</td>
                    <td>deep</td>
                    <td>deep</td>
                </tr>
                <tr>
                    <td>deep</td>
                    <td>deep</td>
                    <td>deep</td>
                    <td>deep</td>
                </tr>
    
            </tbody>
        </table>
    </div>
    <h2>This is services page</h2>
    
</body>
</html>